[submodule "Loop"]
	path = Loop
	url = https://github.com/dthornley/Loop.git
	branch = dev-spike-bubble-nsapi-xdrip
[submodule "LoopKit"]
	path = LoopKit
	url = https://github.com/dthornley/LoopKit.git
	branch = before-merge
[submodule "CGMBLEKit"]
	path = CGMBLEKit
	url = https://github.com/dthornley/CGMBLEKit.git
	branch = before-merge
[submodule "SwiftCharts"]
	path = SwiftCharts
	url = https://github.com/i-schuetz/SwiftCharts.git
[submodule "dexcom-share-client-swift"]
	path = dexcom-share-client-swift
	url = https://github.com/dthornley/dexcom-share-client-swift.git
	branch = before-merge
[submodule "G4ShareSpy"]
	path = G4ShareSpy
	url = https://github.com/dthornley/G4ShareSpy.git
	branch = before-merge
[submodule "rileylink_ios"]
	path = rileylink_ios
	url = https://github.com/dthornley/rileylink_ios.git
	branch = before-merge
[submodule "Amplitude-iOS"]
	path = Amplitude-iOS
	url = https://github.com/LoopKit/Amplitude-iOS.git
	branch = decreepify
[submodule "MKRingProgressView"]
	path = MKRingProgressView
	url = https://github.com/LoopKit/MKRingProgressView.git
	branch = appex-safe
[submodule "spike-client-swift-195"]
	path = spike-client-swift-195
	url = https://github.com/dthornley/spike-client-swift-195
	branch = dev-workspace
[submodule "miaomiao-client-swift"]
	path = miaomiao-client-swift
	url = https://github.com/dthornley/miaomiao-client-swift.git
[submodule "bubble-client-swift"]
	path = bubble-client-swift
	url = https://github.com/dthornley/bubble-client-swift
	branch = before-merge
[submodule "NightscoutAPIClient"]
	path = NightscoutAPIClient
	url = https://github.com/dthornley/NightscoutAPIClient.git
	branch = before-merge
[submodule "xdrip-client-swift"]
	path = xdrip-client-swift
	url = https://github.com/dthornley/xdrip-client-swift.git
	